.cover{
    background-image: url('../img/cover.jpg');
    @extend %backgroundImg;
    height: 500px;
    position: relative;
    .cover__content{
        max-width: 500px;
        h1{
            @include styleText($color-white-0,$fs-2,$fw-2);
        }
        p{
            @include styleText($color-white-0,$fs-3,$fw-0);
        }
        position: absolute;
        top: 50%;
        left: 12%;
        transform: translateY(-50%);
        .cover__form{
            @include styleformSearch($color-white-0,$color-white-0,$color-white-0,$color-black-light);
        }
    }

    @include responsive("small"){
        .cover__content{
            max-width: 400px;
            left: 10%;
        }
    }
}

